*, *::after, *::before{
    box-sizing: border-box;
}

html, body {
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #020202;
    color: #FFF;
    font-size: 16PX;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    opacity: .8;
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    border-bottom: 1px solid #FFFFFF;
}

.navbar-toggler {
    background-color: transparent;
    color: white;
    font-size: 24px;
    border: 0;
}

.navbar-collapse {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-height: 70vh;
    color: #FFF;
    background-color: #020202;
}

.navbar-collapse.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: 700;
    border-top: 1px solid #FFFFFF;
}

@media (max-width: 768px) {
    .navbar2 {
        flex-direction: column-reverse;
    }
}

.navbar3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    border-top: 1px solid #FFFFFF;
    padding: 32px 0;
}

@media (max-width: 768px) {
    .navbar3 ul {
        order: 3;
        width: 100%;
        margin-top: 36px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.row-gap-24 {
    row-gap: 24px;
}

.col-4 {
    width: 33.3333%;
    flex: 0 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

.col-6 {
    width: 50%;
    flex: 0 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

.col-8 {
    width: 66.6667%;
    font: 0 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}



@media (max-width: 768px) {
    .col-4, .col-6, .col-8 {
    width: 100%;
    }
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.h-auto {
    height: auto;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.d-none {
    display: none;
}

.d-inline-block {
    display: inline-block;
}
    
.f-column {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .d-md-block {
    display: block;
    }

    .d-md-none {
    display: none;
    }

    .f-md-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}

.display-1, .display-2, .display-3, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 900;
    line-height: 1.2;
}

.display-1 {
    font-size: 160px;
}

.display-2 {
    font-size: 120px;
}

.display-3 {
    font-size: 80px;
}

.h1 {
    font-size: 48px;
}

.h2 {
    font-size: 40px;
}

.h3 {
    font-size: 32px;
}

.h4 {
    font-size: 28px;
}

.h5 {
    font-size: 20px;
}

.h6 {
    font-size: 16px;
}

.text-sm {
    font-size: 14px;
}

.text-xs {
    font-size: 12px;
}

.text-center {
    text-align: center;
}

.text-gray {
    color: #525252;
}

@media (max-width: 768px) {
    .h1-md {
      font-size: 48px;
    }
  
    .h2-md {
      font-size: 32px;
    }
  
    .h3-md {
      font-size: 28px;
    }
  
    .h4-md {
      font-size: 24px;
    }
  
    .h5-md {
      font-size: 20px;
    }
  
    .h6-md {
      font-size: 16px;
    }
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.px-40 {
    padding-right: 40px;
    padding-left: 40px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pl-12 {
    padding-left: 12px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-160 {
    margin-bottom: 160px;
}

.mr-20 {
    margin-right: 20px;
}

@media (max-width: 768px) {
    .mb-md-12 {
      margin-bottom: 12px;
    }

    .mb-md-16 {
        margin-bottom: 16px;
    }

    .mb-md-24 {
        margin-bottom: 24px;
    }

    .mb-md-32 {
        margin-bottom: 32px;
    }

    .mb-md-48 {
        margin-bottom: 48px;
    }

    .mb-md-64 {
        margin-bottom: 64px;
    }

    .mb-md-120 {
        margin-bottom: 120px;
    }
}

.list-style {
    list-style: disc;
    padding-left: 2rem;
}

.border {
    border-radius: 16px;
    border: 1px solid #525252;
}

.border-body {
    padding: 20px 32px 120px 32px;
    flex-grow: 1;
}

@media (max-width: 768px) {
    .border-body {
        padding: 20px 32px 60px 32px;
    }
}
  
.border-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #525252;
    padding: 20px 32px;
}

.btn {
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    border: 0;
    border-radius: 16px;
    padding: 20px 40px;
    font-size: 16px;
    line-height: 24px;
}

.btn-light {
    display: flex;
    align-items: center;
    color: white;
    border: 1px solid #ffffff;
    font-size: 20px;
    font-weight: 900;
}

.btn-light:hover {
    background: #fff;
    color: #020202;   
}

.btn-dark {
    display: flex;
    align-items: center;
    background: #fff;
    color: #020202;
    border: 1px solid #f2f2f2;
    padding: 20px 32px 20px 40px;
    font-size: 16px;
}

.btn-dark:hover {
    border: 1px solid #000;
}

.btn.active {
    font-weight: 700;
    background-color: #F2F2F2;
}

.deco {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    overflow: hidden;
    background: #020202;
    max-width: 100%;
    height: auto;
    margin-top: 100px;
}

.deco-arrow1 {
    animation: slide-up-1 4s linear infinite;
}

.deco-arrow2 {
    animation: slide-up-2 4s linear infinite;
}

.deco-arrow3 {
    animation: slide-up-3 4s linear infinite;
}

.enterprise-logo {
    overflow: hidden;
    position: relative;
}
  
.enterprise-logo:after, .enterprise-logo:before {
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.991615) 11.79%, rgba(0, 0, 0, 0.967585) 21.38%, rgba(0, 0, 0, 0.9296) 29.12%, rgba(0, 0, 0, 0.879348) 35.34%, rgba(0, 0, 0, 0.818519) 40.37%, rgba(0, 0, 0, 0.7488) 44.56%, rgba(0, 0, 0, 0.671881) 48.24%, rgba(0, 0, 0, 0.589452) 51.76%, rgba(0, 0, 0, 0.5032) 55.44%, rgba(0, 0, 0, 0.414815) 59.63%, rgba(0, 0, 0, 0.325985) 64.66%, rgba(0, 0, 0, 0.2384) 70.88%, rgba(0, 0, 0, 0.153748) 78.62%, rgba(0, 0, 0, 0.0737185) 88.21%, rgba(0, 0, 0, 0) 100%);
    content: "";
    height: 120px;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.enterprise-logo:before {
    left: 0;
    top: 0;
}
  
.enterprise-logo:after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.enterprise-slider1, .enterprise-slider2 {
    display: flex;
    justify-content: flex-start;  
}

.enterprise-slider1 {
    animation: slide-left 10s linear infinite;
}

.enterprise-slider2 {
    animation: slide-right 10s linear infinite;
    margin-top: 20px;
    padding-left: 80px;
}

.enterprise-slide, .enterprise-slide img {
    max-width: initial;
    min-width: 160px;
    height: 40px;
}

.enterprise-slide {
    display: inline-block;
    margin-left: 15px;
}

.comment-card {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.comment-swiper {
    padding-bottom: 40px;
}

@media (max-width: 920px) {
    .swiper-pagination-bullets {
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 10px;
    }
    
    .swiper-pagination-bullet {
        background-color: #525252;
        opacity: 1;
    }
    
    .swiper-pagination-bullet-active {
        width: 12px;
        height: 12px;
        background-color: #fff;
    }
}

.client {
    margin-right: 16px;
}

.tool {
    padding-top: 160px;
    padding-bottom: 160px;
    background-color: white;
    color: #020202;
    border-radius: 160px;
}

@media (max-width: 768px) {
    .tool {
      padding-top: 80px;
      padding-bottom: 80px;
      border-radius: 20px;
    }
}

.dropdown {
    position: relative;
}
  
.dropdown-menu {
    position: absolute;
    background-color: white;
    min-width: 240px;
    margin-top: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 4px 20px 0px #00000026;
    border-radius: 16px;
    z-index: 1;
}
  
.dropdown-menu.show {
    display: block;
}
  
.dropdown-menu-end {
    min-width: 144px;
    right: 0;
}
  
.dropdown-item-text {
    font-size: 12px;
    color: #919191;
    font-weight: 700;
    padding-left: 32px;
    padding-right: 40px;
    margin-bottom: 8px;
}
  
.dropdown-item {
    display: block;
    width: 100%;
    padding: 4px 40px 4px 32px;
    margin-bottom: 4px;
    color: black;
}
  
.dropdown-item:hover {
    background: #F2F2F2;
}
  
.dropdown-divider {
    width: 168px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 16px;
    margin-bottom: 24px;
}

.search-bar {
    position: relative;
    width: 100%;
    background-image: url(img/search.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 40px center;
    background-color: #f2f2f2;
    border-radius: 16px;
    padding: 20px 40px 20px 68px;
    border: 0;
    margin-bottom: 24px;
    font-size: 16px;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.filter-icon {
    margin-left: 12px;
    font-size: 16px;
}

.filter-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    color: #919191;
}

.filter-list-selection {
    padding: 8px 16px;
    border-radius: 16px;
    background: #ffffff;
    text-align: center;
}

.filter-list-selection:hover {
    cursor: pointer;
}

.filter-list-selection.active {
    background-color: #f2f2f2;
    color: #020202;
}

@media (max-width: 768px) {
    .filter ul {
        order: 3;
        width: 100%;
        margin-top: 16px;
        margin-bottom: 40px;
        overflow: auto;
        flex-wrap: nowrap;
        white-space: nowrap;
        -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
        scrollbar-width: none; /* Hide scrollbar for Firefox */
    }
    .filter ul::-webkit-scrollbar{
        display: none; /* Hide scrollbar for Chrome, Safari and Opera */
    }
}

.card {
    margin-bottom: 24px;
}

.card-tidy {
    margin-bottom: -24px;
}

.card-frame {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 16px;
    border: 1px solid #f2f2f2;
}

.card-exhibit {
    overflow: hidden;
}

.card-zooming {
    transition: all 0.3s ease-in-out;
    display: block;
    height: auto;
}    

.card-zooming:hover {
    transform: scale(1.2);
}

.card-context {
    flex-grow: 1;
    padding: 20px 32px;
}

.card-drawer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 32px;
    border-top: 1px solid #f2f2f2;
}

.card-drawer a {
    color: #020202;
}

.card-drawer a:hover{
    color: #525252;
}

.card-drawer h4 {
    font-size: 16px;
    font-weight: 700;
}

.page {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
}

.page li {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 48px;
    padding: 12px 20px;
    border-radius: 16px;
}

.page-gui {
    color: #020202;
}

.page-gui:hover {
    cursor: pointer;
    border: 1px solid #020202;
}

.page-gui.active{
    background: #020202;
    color: #f2f2f2;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    position: relative;
}

.price-link span {
    font-size: 16px;
    line-height: 1;
    vertical-align: middle;
}
  
.price-link::after {
    content: "";
    position: absolute;
    inset: 0;
}

.faq-q, .faq-a.show {
    display: block;
}

.faq-q h3, .regulations p {
    font-weight: normal;
}

.faq-a {
    margin-top: 16px;
}

.add-icon, .remove-icon {
    line-height: 1.2;
    vertical-align: middle;
}

.regulations {
    border-bottom: 1px solid #525252;
}

@keyframes slide-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-960px);
    }
}

@keyframes slide-right{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(960px);
    }
}

@keyframes slide-up-1 {
    40% {
        transform: translateY(0px);
        opacity: 1;
    }
    50% {
        transform: translateY(0px);
        opacity: 1;
    }
    65% {
        transform: translateY(-180px);
        opacity: 1;
    }
    70% {
        transform: translateY(-180px);
        opacity: 0;
    }
    90% {
        transform: translateY(180px);
        opacity: 0;
    }
    91% {
        transform: translateY(180px);
        opacity: 1;
    }
}

@keyframes slide-up-2 {
    30% {
        transform: translateY(0px);
        opacity: 1;
    }
    45% {
        transform: translateY(0px);
        opacity: 1;
    }
    55% {
        transform: translateY(-180px);
        opacity: 1;
    }
    65% {
        transform: translateY(-180px);
        opacity: 0;
    }
    85% {
        transform: translateY(180px);
        opacity: 0;
    }
    86% {
        transform: translateY(180px);
        opacity: 1;
    }
}

@keyframes slide-up-3 {
    20% {
        transform: translateY(0px);
        opacity: 1;
    }
    40% {
        transform: translateY(0px);
        opacity: 1;
    }
    50% {
        transform: translateY(-180px);
        opacity: 1;
    }
    60% {
        transform: translateY(-180px);
        opacity: 0;
    }
    80% {
        transform: translateY(180px);
        opacity: 0;
    }
    81% {
        transform: translateY(180px);
        opacity: 1;
    }
}